<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="HostName" value="localhost"/>
        <add key="ExchangeName" value="logs_exchange"/>
        <add key="InfoQueueName" value="InfoQueue"/>
        <add key="ErrorQueueName" value="ErrorQueue"/>
        <add key="ErrorRoutingKey" value="error.*"/>
        <add key="InfoRoutingKey" value="info.*"/>
        
        <add key="WindowsImagesPath" value="..\..\..\images\"/>
        <add key="MacImagesPath" value="../images/"/>
        <add key="ServerIp" value="127.0.0.1"/>
        <add key="ServerPort" value="6000"/>
    </appSettings>
</configuration>